node-RED_raspberry
[{"id":"910b8b1.ae53f78","type":"exec","z":"db627e1e.1aa99","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"read cpu temperature","x":420,"y":260,"wires":[["ab998919.c79d98"],[],[]]},{"id":"47a1c61b.4cacd8","type":"debug","z":"db627e1e.1aa99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":240,"wires":[]},{"id":"ab998919.c79d98","type":"function","z":"db627e1e.1aa99","name":"format temperature","func":"msg.payload = Number(msg.payload.slice(5,-3));\n//msg.payload = {cpuTempC:msg.payload}\nreturn msg;","outputs":"1","noerr":0,"x":670,"y":240,"wires":[["47a1c61b.4cacd8"]]},{"id":"b12df6d3.f689a8","type":"exec","z":"db627e1e.1aa99","command":"python3 /home/pi/orchids/SoilSensorAPI_resistance.py -s 17 -p  18","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"SoilSensor","x":430,"y":460,"wires":[["36028d33.83aa82"],[],[]]},{"id":"c174c3cd.e5c46","type":"wiotp out","z":"db627e1e.1aa99","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48082fd5.50d33","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":930,"y":420,"wires":[]},{"id":"ee69f225.c5b3a","type":"wiotp in","z":"db627e1e.1aa99","authType":"d","deviceKey":"48082fd5.50d33","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":"0","name":"cmd receiver","x":190,"y":460,"wires":[["b8c9fc5b.520c4","b12df6d3.f689a8","934bd52e.053d28","910b8b1.ae53f78","5ff434dc.73908c"]]},{"id":"98d66191.f8f88","type":"rpi-gpio out","z":"db627e1e.1aa99","name":"","pin":"7","set":true,"level":"1","freq":"","out":"out","x":660,"y":580,"wires":[]},{"id":"b8c9fc5b.520c4","type":"trigger","z":"db627e1e.1aa99","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"400","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":480,"y":580,"wires":[["98d66191.f8f88"]]},{"id":"603adcb.ab93a24","type":"comment","z":"db627e1e.1aa99","name":"BCMpin 17 (phisical - 11 pin)","info":"","x":380,"y":380,"wires":[]},{"id":"934bd52e.053d28","type":"exec","z":"db627e1e.1aa99","command":"cat /sys/bus/w1/devices/28-031723a64aff/w1_slave | sed -n 's/^.*\\(t=[^ ]*\\).*/\\1/p' | sed 's/t=//' | awk '{x=$1}END{print(x/1000)}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"TempSensor","x":430,"y":520,"wires":[["6b8601d1.f2cd4"],[],[]]},{"id":"651e66ee.4cd0d8","type":"debug","z":"db627e1e.1aa99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":500,"wires":[]},{"id":"f3bdf508.5f0088","type":"inject","z":"db627e1e.1aa99","name":"","topic":"tic","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":540,"wires":[["b12df6d3.f689a8","934bd52e.053d28","b8c9fc5b.520c4"]]},{"id":"6b8601d1.f2cd4","type":"function","z":"db627e1e.1aa99","name":"temperature_sensor_001","func":"var new_msg = {};\nvar TimeStamp = new Date();\nnew_msg.payload = {'type':'temperature_sensor_001','value' : Number(msg.payload),'TimeStamp':TimeStamp };\nreturn new_msg;","outputs":1,"noerr":0,"x":670,"y":520,"wires":[["651e66ee.4cd0d8","c174c3cd.e5c46"]]},{"id":"36028d33.83aa82","type":"function","z":"db627e1e.1aa99","name":"humidity_sensor_001","func":"var new_msg = {};\nvar TimeStamp = new Date();\nnew_msg.payload = {'type':'humidity_sensor_001','value' : Number(msg.payload),'TimeStamp':TimeStamp };\nreturn new_msg;","outputs":1,"noerr":0,"x":660,"y":460,"wires":[["c174c3cd.e5c46","651e66ee.4cd0d8"]]},{"id":"5ff434dc.73908c","type":"function","z":"db627e1e.1aa99","name":"create_filename","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \nmsg.timestamp = year+'-'+month+'-'+day+'--'+hour+':'+minute+':'+second;\nmsg.timestamp_0 = now;\nmsg.filename = \"/home/pi/orchids/photo_db_1/pic_\"+msg.timestamp+\".jpg\";\nreturn msg;\n\n","outputs":1,"noerr":0,"x":360,"y":740,"wires":[["c5bb18da.7b3f78"]]},{"id":"c5bb18da.7b3f78","type":"function","z":"db627e1e.1aa99","name":"create_command","func":"msg.payload = \"fswebcam -r 128x72 --dumpframe \"+msg.filename;\nreturn msg;\n","outputs":1,"noerr":0,"x":490,"y":680,"wires":[["6c6f99cc.258eb8"]]},{"id":"6c6f99cc.258eb8","type":"exec","z":"db627e1e.1aa99","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Exec_scrypt","x":570,"y":740,"wires":[["edc8aecc.36eca"],[],[]]},{"id":"33d8a916.a04176","type":"file in","z":"db627e1e.1aa99","name":"","filename":"","format":"","chunk":false,"sendError":true,"x":730,"y":700,"wires":[["da1b0.8bd94e508"]]},{"id":"edc8aecc.36eca","type":"function","z":"db627e1e.1aa99","name":"extract_filename","func":"msg.payload = msg.filename;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":680,"y":640,"wires":[["33d8a916.a04176"]]},{"id":"da1b0.8bd94e508","type":"function","z":"db627e1e.1aa99","name":"form_doc","func":"var new_msg = {};\nnew_msg.payload = {'type':'camera_pic','data' : msg.payload,'TimeStamp':msg.timestamp_0 };\nreturn new_msg;","outputs":1,"noerr":0,"x":800,"y":740,"wires":[["c174c3cd.e5c46","651e66ee.4cd0d8"]]},{"id":"4eb2263e.83dd28","type":"inject","z":"db627e1e.1aa99","name":"","topic":"tic","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":720,"wires":[["5ff434dc.73908c"]]},{"id":"48082fd5.50d33","type":"wiotp-credentials","z":"","name":"","org":"4cawu3","serverName":"","devType":"raspberry","devId":"sens001","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
