node-RED_ibm
[{"id":"d135fb58.194968","type":"inject","z":"deb0d57.1c46528","name":"tic","topic":"1","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":300,"wires":[["34a4d3a3.08ddec"]]},{"id":"dd0b6806.8fbef8","type":"cloudant out","z":"deb0d57.1c46528","name":"DB_sense_1","cloudant":"","database":"sense_1","service":"orchids-3-cloudantNoSQLDB","payonly":false,"operation":"insert","x":910,"y":380,"wires":[]},{"id":"e378f3cb.35172","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"sens001","applicationId":"","deviceType":"raspberry","eventType":"+","commandType":"","format":"json","name":"sens001","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":710,"y":300,"wires":[["dd0b6806.8fbef8","61d14a3f.212604"]]},{"id":"34a4d3a3.08ddec","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sens001","deviceType":"raspberry","eventCommandType":"for_001","format":"cmd","data":"cmd_sensors","qos":0,"name":"cmd_sensors_001","service":"registered","x":530,"y":300,"wires":[]},{"id":"61d14a3f.212604","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":280,"wires":[]},{"id":"c55eb738.baf118","type":"weather_insights","z":"deb0d57.1c46528","name":"","host":"twcservice.mybluemix.net","service":"/forecast/daily/10day.json","geocode":"","units":"m","language":"","x":480,"y":160,"wires":[[]]},{"id":"c7395f43.3666d","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sens001","deviceType":"raspberry","eventCommandType":"for_001","format":"cmd","data":"cmd_snapshort","qos":0,"name":"cmd_snapshorts_001","service":"registered","x":540,"y":340,"wires":[]},{"id":"ea06afb9.e0fe9","type":"inject","z":"deb0d57.1c46528","name":"Every_day_13:00","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"00 13 * * *","once":false,"onceDelay":0.1,"x":290,"y":340,"wires":[["c7395f43.3666d"]]}]
