node-RED_ibm
[{"id":"d135fb58.194968","type":"inject","z":"deb0d57.1c46528","name":"tic","topic":"1","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":300,"wires":[["a159e32f.fc125"]]},{"id":"dd0b6806.8fbef8","type":"cloudant out","z":"deb0d57.1c46528","name":"DB_sense_1","cloudant":"","database":"sense_1","service":"orchids-3-cloudantNoSQLDB","payonly":false,"operation":"insert","x":850,"y":460,"wires":[]},{"id":"e378f3cb.35172","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"sens001","applicationId":"","deviceType":"raspberry","eventType":"+","commandType":"","format":"json","name":"sens001","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":460,"y":560,"wires":[["69d1b202.2e492c","dd0b6806.8fbef8"]]},{"id":"34a4d3a3.08ddec","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sens001","deviceType":"raspberry","eventCommandType":"for_001","format":"cmd","data":"cmd_sensors","qos":0,"name":"cmd_sensors_001","service":"registered","x":530,"y":300,"wires":[]},{"id":"c55eb738.baf118","type":"weather_insights","z":"deb0d57.1c46528","name":"","host":"twcservice.mybluemix.net","service":"/forecast/daily/10day.json","geocode":"","units":"m","language":"","x":480,"y":160,"wires":[[]]},{"id":"c7395f43.3666d","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sens001","deviceType":"raspberry","eventCommandType":"for_001","format":"cmd","data":"cmd_snapshort","qos":0,"name":"cmd_snapshorts_001","service":"registered","x":540,"y":380,"wires":[]},{"id":"7f638ec6.2bf8f","type":"inject","z":"deb0d57.1c46528","name":"none","topic":"1","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":220,"wires":[["a159e32f.fc125"]]},{"id":"a159e32f.fc125","type":"function","z":"deb0d57.1c46528","name":"create_cmd_sensors","func":"msg.payload = 'cmd_sensors';\n//msg.payload = msg.cmd;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["34a4d3a3.08ddec"]]},{"id":"d7a0c531.25c588","type":"function","z":"deb0d57.1c46528","name":"create_cmd_snapshorts","func":"msg.payload = 'cmd_snapshort';\n//msg.payload = msg.cmd;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["c7395f43.3666d"]]},{"id":"b816c138.5d1a7","type":"inject","z":"deb0d57.1c46528","name":"Every_day_14:00 => 11:00","topic":"","payload":"kokakolokol","payloadType":"str","repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"x":160,"y":400,"wires":[["d7a0c531.25c588"]]},{"id":"8fd5e717.b88af8","type":"function","z":"deb0d57.1c46528","name":"select_data","func":"var temperature = msg.payload[0].Temperature.Metric.Value;\nvar pressure = msg.payload[0].Pressure.Metric.Value;\nvar relativeHumidity = msg.payload[0].RelativeHumidity;\nvar new_msg = {};\nnew_msg.payload = {'type':'weather','temperature' : temperature,'pressure' : pressure,'relativeHumidity' : relativeHumidity};\nreturn new_msg;","outputs":1,"noerr":0,"x":630,"y":660,"wires":[["1c6f0b0b.5a1ab5","ab6dcc4d.a440e"]]},{"id":"3986e780.d4d688","type":"http request","z":"deb0d57.1c46528","name":"Accuweather","method":"GET","ret":"txt","url":"http://apidev.accuweather.com/currentconditions/v1/294021?apikey=hoArfRosT1215&details=true","tls":"","x":490,"y":620,"wires":[["b029d1e6.1cc16"]]},{"id":"b029d1e6.1cc16","type":"json","z":"deb0d57.1c46528","name":"","property":"payload","action":"","pretty":false,"x":560,"y":700,"wires":[["8fd5e717.b88af8"]]},{"id":"1c6f0b0b.5a1ab5","type":"join","z":"deb0d57.1c46528","name":"join","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":600,"wires":[["3571bacb.b1a096","dd0b6806.8fbef8"]]},{"id":"69d1b202.2e492c","type":"function","z":"deb0d57.1c46528","name":"select_time","func":"var new_msg = {};\nif(msg.payload.d.type == \"temperature_sensor_001\")\n{\n    new_msg.payload = {'unixtime':msg.payload.d.unixtime};\n    return new_msg;\n}\n","outputs":1,"noerr":0,"x":630,"y":560,"wires":[["1c6f0b0b.5a1ab5","3986e780.d4d688","ab6dcc4d.a440e"]]},{"id":"3571bacb.b1a096","type":"debug","z":"deb0d57.1c46528","name":"kokakolokol","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":580,"wires":[]},{"id":"ab6dcc4d.a440e","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":500,"wires":[]},{"id":"7cc4e08c.248a4","type":"cloudant in","z":"deb0d57.1c46528","name":"DB_s","cloudant":"","database":"sense_1","service":"orchids-3-cloudantNoSQLDB","search":"_idx_","design":"newDesDoc","index":"ind_s","x":630,"y":900,"wires":[["c68f74d4.fd1e58","80ff06e.2f296f8"]]},{"id":"1bfb1e2e.834682","type":"http response","z":"deb0d57.1c46528","name":"alldevice_out","statusCode":"","headers":{"Access-Control-Allow-Origin":"http://alldevice.online"},"x":990,"y":940,"wires":[]},{"id":"5fec018b.582b5","type":"debug","z":"deb0d57.1c46528","name":"kokakolokol","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":990,"y":900,"wires":[]},{"id":"af250ac8.6b0588","type":"template","z":"deb0d57.1c46528","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello Woff!</h1>\n    </body>\n</html>","x":270,"y":780,"wires":[[]]},{"id":"c68f74d4.fd1e58","type":"function","z":"deb0d57.1c46528","name":"change_data","func":"var arr_1 = [];\n//return msg.payload[3].payload.d.value;\nif(msg.req.query.dest == \"weather\")\n{\n    for(var i = 0; i < msg.payload.length; i++) \n        {\n            arr_1[i] = msg.payload[i].payload;\n        }\n}\nelse\n{\n    for(var i = 0; i < msg.payload.length; i++) \n        {\n            arr_1[i] = msg.payload[i].payload.d;\n        }    \n}\nvar new_msg = {'payload':arr_1 , 'req':msg.req , 'res':msg.res};\n//var n_msg.payload = new_msg;\nreturn new_msg;\n","outputs":1,"noerr":0,"x":810,"y":900,"wires":[["5fec018b.582b5","1bfb1e2e.834682"]]},{"id":"80ff06e.2f296f8","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":940,"wires":[]},{"id":"bec5c5b7.a82008","type":"inject","z":"deb0d57.1c46528","name":"tic","topic":"kokakolokol","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":920,"wires":[["21f26327.0a028c"]]},{"id":"21f26327.0a028c","type":"function","z":"deb0d57.1c46528","name":"form_reque","func":"//var t_back = \"2018-06-06T23:39:56.876Z\";\n//var tu_back = new Date(t_back).getTime()/1000;\nvar tu_now = new Date().getTime()/1000; // unix format\nvar tu_back = tu_now - msg.req.query.tp_back; //tp_back - time back period\n//var date = new Date(1527844859*1000);\nvar dest = msg.req.query.dest; //destination device\nif(dest == \"weather\")\n{\n    type = \"type_w\";\n    var unixtime = \"unixtime_w\";\n    msg.payload = {\n    query: type+\":\"+dest+\" AND \"+unixtime+\" : [\"+tu_back+\" TO \"+tu_now+\"]\",  // it work\n    sort: [\"unixtime_w<number>\"],\n    };\n    return [null,msg];\n}\nelse\n{\n    var type = \"type\";\n    var unixtime = \"unixtime\";\n    msg.payload = {\n    query: type+\":\"+dest+\" AND \"+unixtime+\" : [\"+tu_back+\" TO \"+tu_now+\"]\",  // it work\n    sort: [\"unixtime<number>\"],\n    };\n    return [msg,null];    \n}\n\n  \n \n \n \n \n ","outputs":2,"noerr":0,"x":460,"y":960,"wires":[["4285a986.7e68b8","7cc4e08c.248a4"],["8473b93d.997fa8","4285a986.7e68b8"]]},{"id":"a6430e72.c93c1","type":"http in","z":"deb0d57.1c46528","name":"alldevice","url":"/sense_2","method":"get","upload":false,"swaggerDoc":"","x":260,"y":960,"wires":[["21f26327.0a028c","75a87566.029c6c"]]},{"id":"4285a986.7e68b8","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":630,"y":980,"wires":[]},{"id":"8473b93d.997fa8","type":"cloudant in","z":"deb0d57.1c46528","name":"DB_w","cloudant":"","database":"sense_1","service":"orchids-3-cloudantNoSQLDB","search":"_idx_","design":"newDesDoc","index":"ind_w","x":630,"y":940,"wires":[["80ff06e.2f296f8","c68f74d4.fd1e58"]]},{"id":"75a87566.029c6c","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":880,"wires":[]}]
