node-RED_raspberry
[{"id":"910b8b1.ae53f78","type":"exec","z":"db627e1e.1aa99","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"read cpu temperature","x":480,"y":180,"wires":[["ab998919.c79d98"],[],[]]},{"id":"47a1c61b.4cacd8","type":"debug","z":"db627e1e.1aa99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":160,"wires":[]},{"id":"ab998919.c79d98","type":"function","z":"db627e1e.1aa99","name":"format temperature","func":"msg.payload = Number(msg.payload.slice(5,-3));\n//msg.payload = {cpuTempC:msg.payload}\nreturn msg;","outputs":"1","noerr":0,"x":730,"y":160,"wires":[["47a1c61b.4cacd8"]]},{"id":"b12df6d3.f689a8","type":"exec","z":"db627e1e.1aa99","command":"python3 /home/pi/orchids/SoilSensorAPI_resistance.py -s 17 -p  18","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"SoilSensor","x":570,"y":420,"wires":[["36028d33.83aa82"],[],[]]},{"id":"c174c3cd.e5c46","type":"wiotp out","z":"db627e1e.1aa99","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"48082fd5.50d33","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":930,"y":420,"wires":[]},{"id":"ee69f225.c5b3a","type":"wiotp in","z":"db627e1e.1aa99","authType":"d","deviceKey":"48082fd5.50d33","deviceType":"","deviceId":"","command":"+","commandType":"g","qos":"0","name":"cmd receiver","x":150,"y":340,"wires":[["97829941.d4af78","f1169af1.dac288"]]},{"id":"98d66191.f8f88","type":"rpi-gpio out","z":"db627e1e.1aa99","name":"","pin":"7","set":true,"level":"1","freq":"","out":"out","x":760,"y":640,"wires":[]},{"id":"b8c9fc5b.520c4","type":"trigger","z":"db627e1e.1aa99","op1":"false","op2":"true","op1type":"bool","op2type":"bool","duration":"3","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":620,"y":640,"wires":[["98d66191.f8f88"]]},{"id":"934bd52e.053d28","type":"exec","z":"db627e1e.1aa99","command":"cat /sys/bus/w1/devices/28-031723a64aff/w1_slave | sed -n 's/^.*\\(t=[^ ]*\\).*/\\1/p' | sed 's/t=//' | awk '{x=$1}END{print(x/1000)}'","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"TempSensor","x":570,"y":520,"wires":[["6b8601d1.f2cd4"],[],[]]},{"id":"651e66ee.4cd0d8","type":"debug","z":"db627e1e.1aa99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":500,"wires":[]},{"id":"f3bdf508.5f0088","type":"inject","z":"db627e1e.1aa99","name":"","topic":"tic","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":540,"wires":[["b12df6d3.f689a8","934bd52e.053d28"]]},{"id":"6b8601d1.f2cd4","type":"function","z":"db627e1e.1aa99","name":"temperature_sensor_001","func":"var new_msg = {};\nvar now     = new Date(); //simple time\nvar u_now   = now.getTime()/1000; // unix time\nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \nmsg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nnew_msg.payload = {'type':'temperature_sensor_001','value' : Number(msg.payload),'TimeStamp':msg.timestamp,'unixtime':u_now };\nreturn new_msg;","outputs":1,"noerr":0,"x":690,"y":480,"wires":[["651e66ee.4cd0d8","c174c3cd.e5c46"]]},{"id":"36028d33.83aa82","type":"function","z":"db627e1e.1aa99","name":"humidity_sensor_001","func":"var new_msg = {};\nvar now     = new Date(); //simple time\nvar u_now   = now.getTime()/1000; // unix time\nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \nmsg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nnew_msg.payload = {'type':'humidity_sensor_001','value' : 500-Number(msg.payload),'TimeStamp':msg.timestamp,'unixtime':u_now };\nreturn new_msg;","outputs":1,"noerr":0,"x":680,"y":380,"wires":[["651e66ee.4cd0d8","c174c3cd.e5c46"]]},{"id":"404a5e0a.68788","type":"function","z":"db627e1e.1aa99","name":"create_cmd_snapshort","func":"//msg.payload = \"fswebcam -r 128x72 --dumpframe \"+msg.filename+\" | curl -T \"+msg.filename+\" ftp://ftp-srv38129.hts.ru/htdocs/santisoft/wp-content/orchids/photo_db_1/ --user srv38129:OSiNam1hiNaNe \" ;\nmsg.payload = \"fswebcam -r 1280x720 --rotate 270 \"+msg.filename\nreturn msg;\n","outputs":1,"noerr":0,"x":590,"y":700,"wires":[["a946d8e6.bd0af8","b8c9fc5b.520c4"]]},{"id":"a946d8e6.bd0af8","type":"exec","z":"db627e1e.1aa99","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Exec_scrypt","x":790,"y":700,"wires":[["2a28505f.497f3"],[],[]]},{"id":"3681c76e.cc3a88","type":"function","z":"db627e1e.1aa99","name":"form_doc","func":"var new_msg = {};\nnew_msg.payload = {'type':'camera_pic','filename' : msg.filename.slice(28,-4),'TimeStamp':msg.timestamp,'unixtime':msg.unixtime };\nreturn new_msg;","outputs":1,"noerr":0,"x":920,"y":620,"wires":[["651e66ee.4cd0d8","c174c3cd.e5c46"]]},{"id":"844e05f7.b1dcd8","type":"function","z":"db627e1e.1aa99","name":"create_filename","func":"var now     = new Date(); //simple time\nvar u_now   = now.getTime()/1000; // unix time \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) {\nvar month = '0'+month;\n}\nif(day.toString().length == 1) {\nvar day = '0'+day;\n}   \nif(hour.toString().length == 1) {\nvar hour = '0'+hour;\n}\nif(minute.toString().length == 1) {\nvar minute = '0'+minute;\n}\nif(second.toString().length == 1) {\nvar second = '0'+second;\n}   \nmsg.timestamp = year+'-'+month+'-'+day+' '+hour+':'+minute+':'+second;\nmsg.timestamp_f = year+'-'+month+'-'+day+'-'+hour+':'+minute+':'+second;\nmsg.filename = \"/home/pi/orchids/photo_db_1/\"+msg.timestamp_f+\".jpg\";\nmsg.unixtime = u_now;\nmsg.userpwd = msg.payload;\nreturn msg;\n\n","outputs":1,"noerr":0,"x":410,"y":740,"wires":[["404a5e0a.68788"]]},{"id":"5d677de6.f069b4","type":"exec","z":"db627e1e.1aa99","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Exec_scrypt","x":820,"y":760,"wires":[["9e7c9ae8.72fdc8"],[],[]]},{"id":"2a28505f.497f3","type":"function","z":"db627e1e.1aa99","name":"create_cmd_curl","func":"//msg.payload = \"fswebcam -r 128x72 --dumpframe \"+msg.filename+\" | curl -T \"+msg.filename+\" ftp://ftp-srv38129.hts.ru/htdocs/santisoft/wp-content/orchids/photo_db_1/ --user srv38129:OSiNam1hiNaNe \" ;\nmsg.payload = \"curl -T \"+msg.filename+\" ftp://ftp-srv38129.hts.ru/htdocs/santisoft/wp-content/orchids/photo_db_1/ --user \"+msg.userpwd ;\nreturn msg;\n","outputs":1,"noerr":0,"x":640,"y":760,"wires":[["5d677de6.f069b4"]]},{"id":"9e7c9ae8.72fdc8","type":"function","z":"db627e1e.1aa99","name":"create_cmd_rm","func":"msg.payload = \"rm \"+msg.filename;\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":820,"wires":[["74bf4858.e07318"]]},{"id":"74bf4858.e07318","type":"exec","z":"db627e1e.1aa99","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Exec_scrypt","x":850,"y":820,"wires":[["d9b843bb.b2fda","3681c76e.cc3a88"],[],[]]},{"id":"ed49bbcb.a2c598","type":"file in","z":"db627e1e.1aa99","name":"userpwd for curl","filename":"/home/pi/orchids/userpwd","format":"utf8","chunk":false,"sendError":false,"x":300,"y":800,"wires":[["844e05f7.b1dcd8"]]},{"id":"ec5e08a9.47f798","type":"inject","z":"db627e1e.1aa99","name":"","topic":"tic","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":600,"wires":[["ed49bbcb.a2c598"]]},{"id":"f1169af1.dac288","type":"function","z":"db627e1e.1aa99","name":"define_cmd_snapshort","func":"if(msg.payload == 'cmd_snapshort')\n{\n    //msg.payload = msg.cmd;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":260,"y":460,"wires":[["ed49bbcb.a2c598"]]},{"id":"97829941.d4af78","type":"function","z":"db627e1e.1aa99","name":"define_cmd_sensors","func":"if(msg.payload == 'cmd_sensors')\n{\n    //msg.payload = msg.cmd;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":260,"y":420,"wires":[["934bd52e.053d28","b12df6d3.f689a8"]]},{"id":"d9b843bb.b2fda","type":"debug","z":"db627e1e.1aa99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":680,"wires":[]},{"id":"48082fd5.50d33","type":"wiotp-credentials","z":"","name":"","org":"4cawu3","serverName":"","devType":"raspberry","devId":"sens001","keepalive":"60","cleansession":true,"tls":"","usetls":false}]
