node-RED_ibm
[{"id":"d135fb58.194968","type":"inject","z":"deb0d57.1c46528","name":"tic","topic":"1","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":300,"wires":[["a159e32f.fc125"]]},{"id":"dd0b6806.8fbef8","type":"cloudant out","z":"deb0d57.1c46528","name":"DB_sense_1","cloudant":"","database":"sense_1","service":"orchids-3-cloudantNoSQLDB","payonly":false,"operation":"insert","x":850,"y":460,"wires":[]},{"id":"e378f3cb.35172","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"sens001","applicationId":"","deviceType":"raspberry","eventType":"+","commandType":"","format":"json","name":"sens001","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":460,"y":560,"wires":[["69d1b202.2e492c","dd0b6806.8fbef8","ab6dcc4d.a440e"]]},{"id":"34a4d3a3.08ddec","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sens001","deviceType":"raspberry","eventCommandType":"for_001","format":"cmd","data":"cmd_sensors","qos":0,"name":"cmd_sensors_001","service":"registered","x":530,"y":300,"wires":[]},{"id":"c55eb738.baf118","type":"weather_insights","z":"deb0d57.1c46528","name":"","host":"twcservice.mybluemix.net","service":"/forecast/daily/10day.json","geocode":"","units":"m","language":"","x":480,"y":160,"wires":[[]]},{"id":"c7395f43.3666d","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"sens001","deviceType":"raspberry","eventCommandType":"for_001","format":"cmd","data":"cmd_snapshort","qos":0,"name":"cmd_snapshorts_001","service":"registered","x":540,"y":380,"wires":[]},{"id":"7f638ec6.2bf8f","type":"inject","z":"deb0d57.1c46528","name":"tic","topic":"1","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":200,"wires":[["a159e32f.fc125","d7a0c531.25c588"]]},{"id":"a159e32f.fc125","type":"function","z":"deb0d57.1c46528","name":"create_cmd_sensors","func":"msg.payload = 'cmd_sensors';\n//msg.payload = msg.cmd;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":260,"wires":[["34a4d3a3.08ddec"]]},{"id":"d7a0c531.25c588","type":"function","z":"deb0d57.1c46528","name":"create_cmd_snapshorts","func":"msg.payload = 'cmd_snapshort';\n//msg.payload = msg.cmd;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["c7395f43.3666d"]]},{"id":"b816c138.5d1a7","type":"inject","z":"deb0d57.1c46528","name":"Every_day_13:00 => 11:00","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"00 11 * * *","once":false,"onceDelay":0.1,"x":160,"y":400,"wires":[["d7a0c531.25c588"]]},{"id":"8fd5e717.b88af8","type":"function","z":"deb0d57.1c46528","name":"select_data","func":"var temperature = msg.payload[0].Temperature.Metric.Value;\nvar pressure = msg.payload[0].Pressure.Metric.Value;\nvar relativeHumidity = msg.payload[0].RelativeHumidity;\nvar new_msg = {};\nnew_msg.payload = {'type':'weather','temperature' : temperature,'pressure' : pressure,'relativeHumidity' : relativeHumidity};\nreturn new_msg;","outputs":1,"noerr":0,"x":630,"y":660,"wires":[["1c6f0b0b.5a1ab5"]]},{"id":"3986e780.d4d688","type":"http request","z":"deb0d57.1c46528","name":"Accuweather","method":"GET","ret":"txt","url":"http://apidev.accuweather.com/currentconditions/v1/294021?apikey=hoArfRosT1215&details=true","tls":"","x":490,"y":620,"wires":[["b029d1e6.1cc16"]]},{"id":"b029d1e6.1cc16","type":"json","z":"deb0d57.1c46528","name":"","property":"payload","action":"","pretty":false,"x":560,"y":700,"wires":[["8fd5e717.b88af8"]]},{"id":"1c6f0b0b.5a1ab5","type":"join","z":"deb0d57.1c46528","name":"join","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"payload","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":600,"wires":[["3571bacb.b1a096","dd0b6806.8fbef8"]]},{"id":"69d1b202.2e492c","type":"function","z":"deb0d57.1c46528","name":"select_time","func":"var new_msg = {};\nif(msg.payload.d.type == \"temperature_sensor_001\")\n{\n    new_msg.payload = {'TimeStamp':msg.payload.d.TimeStamp};\n    return new_msg;\n}\n","outputs":1,"noerr":0,"x":630,"y":560,"wires":[["1c6f0b0b.5a1ab5","3986e780.d4d688"]]},{"id":"3571bacb.b1a096","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":540,"wires":[]},{"id":"ab6dcc4d.a440e","type":"debug","z":"deb0d57.1c46528","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":500,"wires":[]}]
